@charset "ISO-8859-1";

.navbar-brand{
	
	padding-top: 12px;
	padding-bottom: 12px;
	
}

.form-horizontal{
	padding-left: 15px;
	padding-top: 15px;
}


.panel-title{
	font-size: 25px;
	padding-left: 15px;
	font-weight: bold;
}

.panel-body{
	font-size: 15px;
	color: #AC00FE;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}

.table{
  margin-right: 10px;
  margin-left: 20px;
  width: 98%;
  table-layout: auto;
}

